// @import "variable.scss";

.site-list__item {
  color: $white;
  background-color: $blue;
  text-align: center;

  // не добавляется к каждому пункту списка
  box-shadow: 0 1px 0 rgba($shadow, 0.2);
}

.site-list__link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  background-color: $blue;
  text-decoration: none;
}
