.button {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  background-color: $blue-81;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: $blue-66;
}

.button:focus {
  opacity: 0.7;
  outline: none;
}

.button:active {
  color: rgba($white, 0.3);
  background-color: $blue-54;
}

.button:disabled,
.button:disabled:hover,
.button--disabled,
.button--disabled:hover,
.button--disabled:focus,
.button--disabled:active {
  color: $white;
  background-color: $grey-e5;
  opacity: 1;
  cursor: default;
}
