.page {
  box-sizing: border-box;
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $dark;
  background-color: $white;

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.page__container {
  @include text-centering;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
