// Тёмные цвета
$banner: #314850;

$black: #000000;
$braun: #766357;
$dark: #333333;
$shadow: #010101;
$shadow-modal: #000101;

// Светлые цвета
$blue-54: #5496bd;
$blue-66: #669ec0;
$blue-81: #81b3d2;
$grey-b3: #b3b3b3;
$grey-d6: #d6d6d6;
$grey-db:#dbdbdb;
$grey-d5: #d5d5d5;
$grey-e5: #e5e5e5;
$grey-e6: #e6e6e6;
$grey-ee: #eeeeee;
$grey-f2: #f2f2f2;
$white: #ffffff;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
