.advantages {
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.advantages-container {
  width: 282px;
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    width: 520px;
    padding: 47px 0 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 44px 0;
  }
}

.advantages-container .title {
  padding-bottom: 35px;
}

.advantages__list,
.advantages__sublist {
  @include list-zeroing;
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }
}

.advantages__list-wrapper {
  @media (min-width: $tablet-width) {
    @include text-centering;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    @include text-centering;
    width: 1200px;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-height: 256px;
  }
}

.advantages__item:first-child {
  position: relative;
}

.advantages__item:first-child::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 99.9%;
  width: 100%;
  height: 26px;
  background-color: $blue-81;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 99%, 0 0);

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.advantages__item .text__container {
  @media (min-width: $tablet-width) {
    width: 256px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-right: 52px;
    padding-left: 52px;
  }
}

.city .text__container {
  padding-top: 54px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 56px;
  }
}

.advantages__item .title,
.advantages__item-main .title {
  padding-bottom: 11px;
}

.advantages__item-main .title {
  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.advantages__item .description,
.advantages__item-main .description {
  padding-bottom: 17px;
}

.advantages__item-main .description {
  @media (min-width: $tablet-width) {
    padding-bottom: 33px;
  }
}

.advantages__item .description:last-of-type,
.advantages__item-main .description:last-of-type {
  padding-bottom: 0;
}

.advantages__image-wrapper {
  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__image {
  display: block;
  width: 100%;
}

.advantages__sublist {
  padding: 25px 18px 52px 18px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 31px 60px 36px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 57px 78px 80px 58px;
  }
}

.advantages__sublist-item {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 99px;
  }
}

.advantages__sublist-item:not(:last-child) {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.advantages__sublist-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: 40px 38px;

  @media (min-width: $tablet-width) {
    left: 30%;
    width: 77px;
    height: 77px;
    background-size: auto auto;
  }

  @media (min-width: $desktop-width) {
    left: 37%;
  }
}

.accommodation {
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    margin-right: 73px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 104px;
  }
}

.accommodation::before {
  background-image: url("../img/icons/advantages/advantages-icon-1.svg");

  @media (min-width: $desktop-width) {
    left: 37%;
  }
}

.food {
  padding-left: 52px;

  @media (min-width: $tablet-width) {
    margin-right: 49px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 114px;
  }
}

.food::before {
  background-image: url("../img/icons/advantages/advantages-icon-2.svg");
}

.souvenirs {
  padding-left: 44px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.souvenirs::before {
  background-image: url("../img/icons/advantages/advantages-icon-3.svg");
}

.advantages__sublist-item .title {
  padding-bottom: 16px;
}

.advantages__sublist-item .text-sub__container {
  @media (min-width: $tablet-width) {
    width: 193px;
  }

  @media (min-width: $desktop-width) {
    width: 282px;
  }
}

.bridge .text__wrapper {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.bridge .text__container {
  padding-top: 39px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 43px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 78px 53px 78px;
  }
}

.advantages__item-main {
  position: relative;
  padding: 24px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 256px;
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    min-height: 256px;
    padding-top: 42px;
  }
}

.advantages__item-main:not(:last-child)::after {
  position: absolute;
  content: "";
  left: 5%;
  bottom: 0;
  width: 89%;
  height: 1px;
  background-color: $grey-d6;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.advantages__item-main .text-main__container {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.advantages__item-main--area {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }
}

.advantages__item-main--area .text-main__container {
  @media (min-width: $tablet-width) {
    padding-right: 33px;
    padding-left: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 42px;
    padding-left: 42px;
  }
}

.advantages__item-main--road .text-main__container {
  @media (min-width: $tablet-width) {
    padding-right: 46px;
    padding-left: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 54px;
    padding-left: 54px;
  }
}

.advantages__item-main--tourists .text-main__container {
  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 55px;
    padding-left: 55px;
  }
}

.advantages__item-main:last-child {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}
