.banner {
  position: relative;
  height: 389px;
  padding-top: 90px;
  background-color: $banner;
  background-image: url("../../img/banner/banner-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/banner/banner-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 518px;
    padding-top: 77px;
    background-image: url("../../img/banner/banner-background-desktop.jpg");
    background-position: 50% bottom;
    background-size: auto 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/banner/banner-background-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 518px;
    padding-top: 77px;
    background-image: url("../../img/banner/banner-background-desktop.jpg");
    background-position-x: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/banner/banner-background-desktop@2x.jpg");
    }
  }
}

.banner__text {
  @media (min-width: $tablet-width) {
    width: 460px;
    height: 350px;
  }
}

.banner--inner {
  height: 158px;
  padding-top: 52px;
  background-image: url("../../img/banner/banner-background-mobile.jpg");
  background-position: 50% bottom;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/banner/banner-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 290px;
    padding-top: 95px;
    background-image: url("../../img/banner/banner-background-desktop.jpg");
    background-position: 50% bottom;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/banner/banner-background-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 301px;
    padding-top: 101px;
    background-image: url("../../img/banner/banner-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/banner/banner-background-desktop@2x.jpg");
    }
  }
}

.banner--inner .banner__text {
  @media (min-width: $tablet-width) {
    width: 460px;
    height: 77px;
  }
}

.banner::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.2%;
  width: 100%;
  height: 5%;
  background-color: $white;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 99%, 0 0);

  @media (min-width: $tablet-width) {
    bottom: 0;
    height: 57px;
    background-color: transparent;
    background-image: url("../../img/banner/banner-decor.svg");
    background-position: 50% 0;
    background-size: auto auto;
    clip-path: none;
  }
}

.banner--inner::after {
  bottom: 0;
  height: 10%;

  @media (min-width: $tablet-width) {
    bottom: 0;
    height: 57px;
    background-color: transparent;
    background-image: url("../../img/banner/banner-decor.svg");
    background-position: 50% 0;
    background-size: auto auto;
    clip-path: none;
  }
}
