.city .text__container {
  padding-top: 54px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 56px;
  }
}
