.form {
  text-align: left;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__group--full-name {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 63px;
  }
}

.form__group .title--h2 {
  margin: 0 auto;
  padding: 24px 0 20px 0;
}

.form__field-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.form__field-group:last-of-type {
  padding-bottom: 0;
}

.form__field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  background-color: $grey-light;
}

.form__field-group .field {
  padding: 16px;
  border: none;
}

.form__field-group .field::placeholder {
  color: rgba($black, 0.3);
  opacity: 1;
}

.form__group--contacts {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-left: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 63px;
  }
}

.form__group--impression,
.form__group--attractions {
  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.form__group--impression,
.form__group--attractions,
.form__group--comment {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.form__list {
  @include list-zeroing;
}

.form__group--impression .form__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 49px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 61px;
  }
}

.form__group--attractions .form__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 84px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px 64px;
  }
}

.form__item {
  padding-bottom: 16px;
}

.form__item:last-child {
  padding-bottom: 0;
}

/* Control */
.control {
  // position: relative;
  // display: block;
  // padding-left: 36px;
  line-height: 19px;
}

/* Mark */
// .control-mark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 16px;
//   height: 16px;
//   border: 2px solid #000000;
//   border-radius: 3px;
// }

// .control-input:hover + .control-mark {
//   opacity: 0.6;
// }

// .control-input:hover ~ .control-label {
//   color: rgba(0, 0, 0, 0.6);
// }

// .control-input:focus ~ .control-mark {
//   outline: 2px solid #AF4FFF;
//   outline-offset: 2px;
// }

// .control-input:active + .control-mark {
//   opacity: 0.3;
//   outline: none;
// }

// .control-input:active ~ .control-label {
//   color: rgba(0, 0, 0, 0.3);
// }

// .control-input:disabled + .control-mark {
//   opacity: 0.1;
// }

// .control-input:disabled ~ .control-label {
//   color: rgba(0, 0, 0, 0.1);
// }

// .control-input:disabled:hover + .control-mark {
//   opacity: 0.1;
// }

// .control-input:disabled:hover ~ .control-label {
//   color: rgba(0, 0, 0, 0.1);
// }

// /* Checkbox */
// .control-input[type="checkbox"]:checked + .control-mark {
//   position: absolute;
//   content: "";
//   width: 10px;
//   height: 10px;
//   padding: 3px;
//   background-image: url("../images/icon-filter-checked.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

/* Radio */
// .control-input[type="radio"] + .control-mark {
//   border-radius: 50%;
// }

// .control-input[type="radio"]:checked + .control-mark::before {
//   position: absolute;
//   content: "";
//   top: 4px;
//   left: 4px;
//   width: 8px;
//   height: 8px;
//   background-color: #000000;
//   border-radius: 50%;
// }

/* Label */
.control__label {
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: 700;
  text-transform: none;
}

.form__group--comment {
  padding-bottom: 56px;
}

.form__group--comment .form__field-group {

  @media (min-width: $tablet-width) {
    @include text-centering;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__group-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include text-centering;
    width: 768px;
  }
}

.form__group-container .button {
  padding: 19px 0 14px 0;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__description-small {
  font-size: 12px;
  line-height: 21px;
  color: rgba($dark, 0.6);
  text-align: right;
}
