.form {
  text-align: left;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 323px 323px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 493px 493px;
  }
}

.form__group {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__group::before {
  position: absolute;
  content: "";
  top: -70px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: $grey-e5;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.form__group--impression::before,
.form__group--attractions::before,
.form__group--comment::before {
  top: 0;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.form__group--full-name {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 63px;
  }
}

.form__group--full-name::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: -50px;
    right: 0;
    width: 1px;
    height: 110%;
    background-color: $grey-db;
  }
}

.form__group-line {
  @media (min-width: $tablet-width) {
    position: relative;
    align-self: stretch;
  }
}

.form__group-line::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: $grey-db;
  }
}

.form__group .title--h2 {
  margin: 0 auto;
  padding: 24px 0 20px 0;
  text-align: center;
}

.form__group--impression .title--h2,
.form__group--attractions .title--h2,
.form__group--comment .title--h2 {
  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-left: 123px;
    margin-right: 123px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 280px;
    margin-right: 280px;
  }
}

.form__field-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.form__field-group:last-of-type {
  padding-bottom: 0;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  background-color: $grey-f2;
}

.field::placeholder {
  color: rgba($black, 0.3);
  opacity: 1;
}

.field:hover {
  background-color: $grey-e5;
}

.field:focus-visible {
  outline: none;
  background-color: $white;
  box-shadow: inset 0 0 0 4px $grey-e5;
}

.field:disabled,
.field:disabled:hover {
  color: rgba($black, 0.6);
  background-color: $grey-d5;
}

.form__field {
  padding: 16px;
  border: none;
}

.form__group--contacts {
  // display: flex;
  //   flex-direction: column;
  //   align-items: center;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-left: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 63px;
  }
}

.form__group--contacts .form__field {
  padding-right: 74px;
}

.form__group--contacts .form__field-group {
  position: relative;
}

.form__group--contacts .form__field-group::before {
  position: absolute;
  content: "";
  top: 21px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: $grey-e6;
  background-repeat: no-repeat;
  background-position: center;
}

.phone::before {
  background-image: url("../../img/icons/form/icon-phone.svg");
}

.email::before {
  background-image: url("../../img/icons/form/icon-email.svg");
}

.form__group--impression,
.form__group--attractions {
  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.form__group--impression,
.form__group--attractions,
.form__group--comment {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.form__list {
  @include list-zeroing;
}

.form__group--impression .form__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 49px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 61px;
  }
}

.form__group--attractions .form__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 84px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px 64px;
  }
}

.form__item {
  padding-bottom: 26px;
}

.form__item:last-child {
  padding-bottom: 0;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 62px;
  line-height: 19px;
}

/* Mark */
.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: $grey-f2;
  border-radius: 4px;
}

.control__input:hover + .control__mark {
  background-color: $grey-e5;
}

.control__input:focus ~ .control__mark {
  background-color: $grey-d5;
  outline: none;
}

.control__input:active + .control__mark {
  background-color: $grey-d5;
  outline: none;
}

.control__input:disabled + .control__mark,
.control__input:disabled:hover + .control__mark {
  background-color: $grey-f2;
  opacity: 0.65;
}

.control__input:disabled ~ .control__label,
.control__input:disabled:hover ~ .control__label {
  color: rgba($black, 0.3);
}

/* Checkbox */
.control__input[type="checkbox"]:checked + .control__mark {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  padding: 15px 12px;
  background-image: url("../../img/icons/form/icon-form-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Radio */
.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: $dark;
  border-radius: 50%;
}

/* Label */
.control__label {
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: 700;
  text-transform: none;
}

.form__group--comment {
  padding-bottom: 56px;
}

.form__group--comment .form__field-group {
  @media (min-width: $tablet-width) {
    @include text-centering;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__group-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include text-centering;
    width: 768px;
  }
}

.form__group-container .button {
  padding: 19px 0 14px 0;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__description-small {
  font-size: 12px;
  line-height: 21px;
  color: rgba($dark, 0.6);
  text-align: right;
}
