/* Modal */
.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.3);
}

.modal__container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  background-color: $white;
  box-shadow: 0 7px 15px rgba($shadow-modal, 0.15);
}

.modal__message-error {
  width: 320px;
  padding: 45px 42px 35px 42px;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 50px;
  }
}

.modal__message-send {
  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal__message-send .modal__content {
  padding: 39px 39px 0 39px;

  @media (min-width: $tablet-width) {
    padding: 53px 97px 0 97px;
  }
}

.modal__title {
  padding-bottom: 37px;
}

.modal__description {
  @include margin-zeroing;
  padding-bottom: 28px;
}

.modal__message-send .modal__description {
  padding-bottom: 35px;
}

.modal__button-container {
  width: 100%;
  padding: 20px;
  background-color: $grey-f2;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}

.modal__button {
  padding: 18px 76px 14px 76px;

  @media (min-width: $tablet-width) {
    padding: 19px 122px 14px 122px;
  }
}

.modal__message-send .modal__button {
  padding: 18px 62px 14px 62px;

  @media (min-width: $tablet-width) {
    padding: 19px 140px 14px 140px;
  }
}
