.text-container {
  @include text-centering;
}

.text,
.text .title {
  color: $white;
  background-color: $blue-81;
}

.text-sub {
  color: $dark;
  background-color: $white;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.text-sub .title {
  color: $black;
  background-color: $white;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.text-main {
  color: $dark;
  background-color: $grey-ee;
}
