// Global
@import "./global/variable.scss";
@import "./global/mixin.scss";
@import "./global/fonts.scss";
@import "./global/title.scss";
@import "./global/button.scss";
@import "./global/global.scss";
@import "./global/page.scss";

// Header
@import "./header/header.scss";
@import "./header/main-nav.scss";
@import "./header/site-list.scss";

// Index - Main-container
@import "./main-container/main-container.scss";
@import "./main-container/banner.scss";
@import "./main-container/advantages.scss";
@import "./main-container/text.scss";
@import "./main-container/search.scss";

// Catalog - Main-container
@import "./main-container/photos-video.scss";
@import "./main-container/video.scss";

// Form - Main-container
@import "./main-container/review.scss";
@import "./main-container/form.scss";

// Footer
@import "./footer/footer.scss";
@import "./footer/social.scss";
@import "./footer/copyright.scss";
