.header {
  @include transform-align;
  position: relative;
  z-index: 2;
  height: 56px;


  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.header__logo {
  position: absolute;
  width: 185px;
  height: 56px;
  left: 20%;

  @media (min-width: $tablet-width) {
    z-index: 3;
    left: 290px;
  }

  @media (min-width: $desktop-width) {
    left: 507px;
  }
}

.header__image {
  display: block;
}
