.site-list__item {
  text-align: center;
}

.site-list__link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  background-color: $blue;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: $black;
    background-color: $white;
  }
}

.site-list__link--active {
  @media (min-width: $tablet-width) {
    color: $braun;
  }
}
