.site-list__item {
  color: $white;
  background-color: $blue;
  text-align: center;
}

.site-list__link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  background-color: $blue;
  text-decoration: none;
}
